<main class="main"></main>
<!DOCTYPE html>
<html lang="en">
<mat-toolbar>
  <span>My Book Wishlist!</span>
</mat-toolbar>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>
<body>
  <div class="registration-container">
    <form (ngSubmit)="onSubmit(username, password, firstName, lastName, email, age)" #loginForm="ngForm">
      <h2>Registration</h2>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" [(ngModel)]="age" required>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Register New User</button>
    </form>
  </div>
  <script src="app.js"></script>
</body>
</html>